<div>
    <div class="tile-container">
        <a class="chain-buttons tile" href="{% url "new-pairs:chain" "all" %}">
            <div>ALL</div>
        </a>
        <a class="chain-buttons tile" href="{% url "new-pairs:chain" "ethereum" %}">
            <div>ETHEREUM</div>
        </a>
        <a class="chain-buttons tile" href="{% url "new-pairs:chain" "base" %}">
            <div>BASE</div>
        </a>
        <a class="chain-buttons tile" href="{% url "new-pairs:chain" "solana" %}">
            <div>SOLANA</div>
        </a>
        <a class="chain-buttons tile" href="{% url "new-pairs:chain" "ton" %}">
            <div>TON</div>
        </a>
        <a class="chain-buttons tile" href="{% url "new-pairs:chain" "bsc" %}">
            <div>BSC</div>
        </a>
    </div>
</div>