{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/main/about.css" %}">
{% endblock %}


{% block content %}

<header>
    <h1>О проекте</h1>
</header>

<main>
    <section id="project-description">
        <h2>Что это за проект?</h2>
        <p>
            Этот проект — мой пет-проект, представляющий собой веб-приложение для отслеживания и анализа криптовалютных токенов на различных блокчейнах. 
            Основная цель проекта — предоставить пользователям удобный и функциональный инструмент для мониторинга токенов в реальном времени, а также управления 
            избранными токенами в личном кабинете.
        </p>
        <p>
            Приложение включает такие разделы, как просмотр только что появившихся токенов, подробная информация о токене, возможность сохранения избранных токенов и управления ими, 
            а также административную панель для редактирования данных о токенах и управления их статусом.
        </p>
    </section>

    <section id="technologies">
        <h2>Используемые технологии</h2>
        <p>
            В разработке этого проекта я использовал различные современные технологии и инструменты. Это помогло мне улучшить навыки в области веб-разработки и научиться работать с 
            различными стеками технологий. Ниже перечислены основные технологии, которые я использовал:
        </p>

        <h3>Django</h3>
        <p>
            Основной фреймворк для разработки веб-приложения. С его помощью реализованы такие функции, как создание страниц сайта, управление личными кабинетами пользователей, 
            а также разработка административной панели для редактирования информации о токенах.
        </p>

        <h3>Личный кабинет</h3>
        <p>
            Пользователи могут регистрироваться через Google, GitHub или Facebook, создавать и просматривать свои сохраненные подборки токенов, что реализовано с использованием 
            Django и интеграции с внешними API для авторизации.
        </p>

        <h3>Redis</h3>
        <p>
            Redis используется для организации кеширования данных, что позволяет хранить список токенов с наивысшей рыночной капитализацией за 24 часа, 
            избегая лишних запросов к базе данных и ускоряя работу приложения. Кроме того, Redis задействован для отображения страницы последних токенов.
        </p>

        <h3>Celery</h3>
        <p>
            Celery используется для асинхронной обработки задач, таких как обновление кеша Redis при добавлении новых токенов и сбор дополнительной информации о токенах после их появления. 
            В связке с Celery активно применяются Lua-скрипты для оптимизации процессов записи и чтения из Redis.
        </p>

        <h3>PostgreSQL</h3>
        <p>
            В качестве основной базы данных используется PostgreSQL, где хранятся данные о токенах, пользователях, их избранных токенах и категориях. 
            Структура базы данных аналогична структуре, используемой в Dexscreener, что позволяет эффективно управлять данными и выполнять сложные запросы.
        </p>

        <h3>Asyncio и Threads</h3>
        <p>
            Asyncio используется для асинхронных запросов к внешним API, таким как Dexscreener, и для обработки данных в режиме реального времени через вебсокеты. 
            Потоки (Threads) задействованы для параллельного запуска слушателей блокчейнов и решения задач, связанных с синхронизацией данных через вебсокеты.
        </p>

        <h3>Websockets и Django Channels</h3>
        <p>
            Реализация функционала в режиме реального времени, например, появление новых токенов на главной странице, была осуществлена с использованием Websockets и Django Channels. 
            Эти технологии позволяют обновлять интерфейс пользователей без необходимости перезагрузки страницы.
        </p>

        <h3>Docker</h3>
        <p>
            Весь проект разворачивается с использованием Docker, что позволяет легко управлять инфраструктурой и развертыванием проекта. 
            Проект разделен на несколько контейнеров: основной сервис (сайт), база данных, сервер проксирования запросов к Dexscreener и сервер обработки задач Celery.
        </p>
    </section>

    <section id="contact">
        <h2>Контакты</h2>
        <p>Если вам интересно узнать больше о проекте или вы хотите обсудить сотрудничество, свяжитесь со мной:</p>
        <ul>
            <li>Telegram: <a href="https://t.me/your_telegram">your_telegram</a></li>
            <li>GitHub: <a href="https://github.com/your_github">your_github</a></li>
        </ul>
    </section>
</main>

{% endblock %}
